name: Publish Sphinx Built Webpages to Github Pages

on:
  push:
    branches:
      - master
    paths:
      - 'docs/**'
      
jobs:
  release: 
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: Install pip
        run: |
          python -m pip install --upgrade pip
     
      - name: Get pip cache dir
        id: pip-cache
        run : echo "::set-output name=dir::$(pip cache dir)"
          
      - name: Cache dependencies
        uses: actions/cache@v1
        with:
          path: ${{ steps.pip-cache.outputs.dir }}
          key: ${{ runner.os }}-pip-${{ hashFiles('**/docs/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-   
      
      - name: Install dependencies
        run: |
          sudo apt install pandoc
          pip install -r docs/requirements.txt
          
      - name: Install ReadTheDocs theme
        run: |
          pip install sphinx_rtd_theme

      - name: Build Sphinx documentation
        run: |
          cd docs
          make html

      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/build/html
